.App {
  background-color: #b5651d;
  min-height: 100vh;
  color: white;
  display: flex;
  overflow: hidden;
}

canvas {
  display: block;
}

.InfoPanel{
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the children */
  align-items: center;
  width: 100%;
}

.row{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#GlobePanel{
  flex: 1;
  position: relative;
}

#loading-screen {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4E342E;
  justify-content: center;
  align-items: center;
  
}




/* General button styling */
.submit-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s;
}



/* Text styling */
.button-text {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


select {
  width: auto; /* Set desired width */
  font-size: 16px;
  color: #333;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}


.text-button {
  background: none;           /* No background */
  color: #007bff;             /* Text color (blue) */
  cursor: pointer;           /* Change cursor to pointer */
}

.text-button:hover {
  color: #0056b3;             /* Change color on hover */
}



/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Style the track (the part the thumb moves within) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background for the track */
  border-radius: 10px; /* Rounded corners */
}

/* Style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark gray color for the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}