.App {
  background-color: #282c34; 
  min-height: 100vh;
  color: white;
  display: flex;
  
}

canvas {
  display: block;
}

.InfoPanel{
  flex: 1;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#GlobePanel{
  flex: 1;
  position: relative;
}

#loading-screen {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  
}

