.App {
  background-color: #282c34; /* Replace with your desired color */
  min-height: 100vh; /* Ensures the background color covers the full height of the viewport */
  color: white; /* Optional: Change text color for contrast */
}

canvas {
  display: block;
}
